div{
    text-align: center;
}
body{
    background-color:rgb(117, 169, 185);
}
li,ul{
    list-style: none;
    padding-inline-start: 0px;
}

.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

/* selector avanzado: padre > hijo */
.navbar > li{
    width:170px;
    border: 2px solid rgb(57, 31, 97);
    margin: 1px;
    border-radius: 10px;
    background-color: rgb(110, 83, 160);
    padding-block:2px;
    cursor: pointer;
}

/* barra de navegacion */
.navbar > li:hover{
    background-color:rgb(95, 75, 167);
    padding: 10px;
    border-radius: 8px;
    border-color: rgb(238, 220, 255);
    width: 200;
    transition-duration: 0.3s;
}

.navbar > li:hover{
    font-weight: bold;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}