div{
    text-align: center;
}
body{
    background-color:rgb(255, 229, 146);
}
li,ul{
    list-style: none;
    padding-inline-start: 0px;
}

.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

/* selector avanzado: padre > hijo */
.navbar > li{
    width:250px;
    border: 2px solid rgb(255, 203, 61);
    margin: 1px;
    border-radius: 10px;
    background-color: rgb(255, 225, 92);
    padding-block:2px;
    cursor: pointer;
}

/* barra de navegacion */
.navbar > li:hover{
    background-color:rgb(255, 208, 0);
    padding: 15px;
    border-radius: 8px;
    border-width: 2px;
    border-color:transparent;
    transition-duration: 0.3s;
    cursor: pointer;
}

.navbar > li:hover{
    font-weight: bold;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}